<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>


<div class="container-fluid bg-3 text-center">    
  <h3></h3><br>
  <div class="row">
    <div class="col-sm-4">
       <center> <p>Name: <%= name%> </p></center>
        <p>Age: <%= age%> </p>
        <p>HeartRate: <%= heartRate%> </p>
        <p>Symptoms: <%= symptoms%> </p>
        <form action="/dashboard/Lohith" method="post">
            <p>
                Medicines </p><input type="text" name="medicines" value="<%= medicines%>"> 
            
            <p>
                    <input type="submit" value="Update">
            </p>
    </form>
    </div>
  </div>
</div>

</body>

</html>